.redShaded {
  animation-name: damage;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

@keyframes damage {
  0% {
    filter: sepia() saturate(5) hue-rotate(-60deg);
  }
  100% {
    filter: none;
  }
}
